<div>

#set( $origurl = "${apphome}/views/modules/asset/editor/edit/reloadimages.html" )
#if($asset.isFolder())
	#set( $editPath = "/WEB-INF/data/$mediaarchive.catalogId/originals/$asset.sourcePath/$asset.primaryFile" )
#else
	#set( $editPath = "/WEB-INF/data/$mediaarchive.catalogId/originals/$asset.sourcePath" )
#end



<table style="border-spacing: 10px; border-collapse: separate">
<tr>
<td>
##<a href="#" onclick="resizeImage();return false;"><img src="$home${themeprefix}/images/buttons/aspectratio_16x16.png" border="0" title="[[Resize Image]]" />
##	[[Resize Image]]</a>
#set($currentOrientation = $asset.get("imageorientation"))
#set ( $searcher = $searcherManager.getSearcher($catalogid ) )
<form method="post" action="$home${apphome}/views/modules/asset/editor/edit/reloadimages.html">
	<input type="hidden" name="origUrl" value="$page.path"/>
	<input type="hidden" name="saveasnew" value="false" />
	<input type="hidden" name="save" value="true" />
	<input type="hidden" name="catalogid" value="$!catalogid" />
	<input type="hidden" name="searchtype" value="asset" />
	<input type="hidden" name="field" value="imageorientation"/>
	<input type="hidden" name="id" value="$asset.id" />
	<input type="hidden" name="assetid" value="$asset.id"/>
	<input type="hidden" name="sourcepath" value="$asset.sourcepath"/>
	
	<select onchange="this.form.submit()" name="imageorientation.value">
		<option value="1"#if($currentOrientation && $currentOrientation == 1) selected #end>Default Rotation</option>
		<option value="6" #if($currentOrientation && $currentOrientation == 6) selected #end>Clockwise</option> 
		<option value="8"#if($currentOrientation && $currentOrientation == 8) selected #end>Counter Clockwise</option>
		<option value="3"#if($currentOrientation && $currentOrientation == 3) selected #end>Flip Top</option>
	</select>
</form>
<br>
<a href="#" onclick="cropImage(); return false;"><img src="$home${themeprefix}/images/buttons/crop_16x16.png" border="0" title="[[Crop Image]]" />
	[[Crop Editor]]
	</a>

<br>
<br>
<a href="$home${apphome}/views/modules/asset/editor/historyimageedit/index.html?editPath=${editPath}&assetid=${asset.id}">
	<img src="$home${themeprefix}/images/buttons/undo_16x16.png" border="0"/> Versions
</a>

</td>
</tr>
</table>


<div id="previewimage" >
	<img src="$home/${applicationid}/views/modules/asset/downloads/preview/cache/${asset.sourcePath}/preview.jpg?cache=false" alt="[[Preview Image]]"/>
</div>



<script>
	resizeImage = function() {
		var editPath = "${editPath}";
		var sourcepath = "${asset.sourcePath}";
		editPath = escape(editPath);
		sourcepath = escape(sourcepath);
		var url = "$home${apphome}/views/modules/asset/editor/edit/imageresize/edit.html?editPath=" + editPath + "&origURL=$origurl&assetid=${asset.id}&sourcepath=" + sourcepath;
		jQuery("#previewimage").load(url);
	}
	
	cropImage = function() {
		var editPath = "${editPath}";
		var sourcepath = "${asset.sourcePath}";
		editPath = escape(editPath);
		sourcepath = escape(sourcepath);
		var url = "$home${apphome}/views/modules/asset/editor/edit/crop/edit.html?editPath=" + editPath + "&origURL=$origurl&assetid=${asset.id}&sourcepath=" + sourcepath;
		jQuery("#previewimage").load(url);
	}
</script>
</div>