<script type="text/javascript" src="$home/openedit/javascript/jquery-1.3.2.js">  jQuery.noConflict(); </script>
<script type="text/javascript" src="$home/media/tools/jquery.entermedia.js">   </script>

<div id="showcatalogs">
</div>

<script>

jQuery(document).ready(function() 
{ 
	var appid = "media";
	jQuery("#showcatalogs").entermedia({ action: 'listcatalogs',appid: appid });
});

</script>
