<script type="text/javascript" src="$home/openedit/javascript/jquery-1.3.2.js">  jQuery.noConflict(); </script>
<script type="text/javascript" src="$home/media/tools/jquery.entermedia.js">   </script>

<div id="showresults">
</div>

<script>

jQuery(document).ready(function() 
{ 
	var appid = "media";
	jQuery("#showresults").entermedia({ action: 'search',appid: appid, 
	datahandler: function( inData, inDiv)
	{
		inData.find("hit").each(function()
		{
			var id = this.getAttribute("id");
			var text = this.firstChild.nodeValue;
			inDiv.append(id + text);		
		}); 
	} 
	});
});

</script>
