#set( $dataroot = $context.findValue("dataroot"))

   $pages.include("../list/actions.html")


<fieldset style="margin: 20px;">
	<form name="excelimport" method="post" enctype="multipart/form-data" action="$home$dataroot/import/importfinish.html">

<h3>Choose CSV Input File</h3>
	<input type="file" size="25" name="file">
		<input type="hidden" size="20" name="path" value="$content.dataroot/temp/import/import.csv" />
		<input type="hidden" name="searchtype" value="$context.getRequestParameter('searchtype')"/>

$pages.include("$dataroot/import/scriptlist.html")

<div id="submit" style="display: none;">
<div class="hr" style="margin: 10px 0;"></div>

		<input class="btn" type="submit" value="Import" />
</div>
	</form>
</fieldset>

