#if(!$groupid)
	#set($groupid = $context.getRequestParameter("groupid"))
#end
$context.putPageValue("groupid", $groupid)


#set( $userTracker = $userTracker)
#set( $oeview = "usersearchresults")
#set( $details = $searcher.getDetailsForView($oeview,$user))
<div  id="emselectable" style="border:1px solid lightgray;height:185px;margin-bottom:5px;background-color:white;">

<table width="100%">
<tr>	
</tr>	
	#set( $origURL = $context.getRequestParameter("origURL" ) )				
	#set( $selecteduser = $context.getRequestParameter("username" ) )				
	#foreach ( $hit in $userTracker.getPageOfHits() )
	<tr rowid="${hit.id}" id="${hit.id}_row">
	#foreach( $detail in $details ) 
		#set( $newval = "$!hit.get($detail.getId())")
		#if($newval != "" && $detail.isList())  
			#set( $newval = "$!searcherManager.getData($detail.getListCatalogId(),$detail.getListId(),$newval)" )
		#end			
		<td nowrap noclick="true">
			<a href="#" onclick="selectUser('${hit.id}');" class="oeactionlink">$newval</a>
		</td>
	#end
	</tr>
#end
#if ($userTracker.size() == 0)
	<tr>
		<td colspan="${details.size()}" align="center">
			[[No users found.]]
		</td>
	</tr>
#end
</table>

	<input type="hidden" id="emselectedrow" name="username" />

</div>
<table width="100%">
<tr>
	<td>
		<div>
			<a  href="#" class="btn" onclick="removeMember('$group.id');">[[Remove Selected]]</a>
		</div>
	</td>
	<td>
		<div>
			<a  href="#" class="btn" onclick="viewUser();">[[View Selected]]</a>
		</div>
	</td>
	<td>
		<div>
			<a  href="#" class="btn" style="float: right;" onclick="removeAllMembers('$group.id');">[[Remove All]]</a>
		</div>
	</td>
</tr>
</table>
</div>

<div style="text-align: right; padding-left: 30px; padding-top: 5px;">
	#if ( $userTracker.totalPages == 0 )
	#elseif( $userTracker.totalPages == 1 )
	#elseif( $userTracker )
		#set($thispage = $userTracker.getPage())
		[[Page]] <b>$thispage</b>/$userTracker.totalPages  
		&nbsp;&nbsp;
		
		#if( $userTracker.prevPage() )
			<a href="#" onclick="jQuery('#usersearchresultspanel').load('$home$usermanagerhome/groups/userresults.html', {page:'$userTracker.prevPage()', oeview:'$oeview', hitssessionid:'$userTracker.sessionId', oemaxlevel:'1', groupid: '$groupid'}); return false;"><b>&lt;&lt; [[Back]]</b></a>
		#end
		
		
		#if ( $userTracker.nextPage() )
			<a href="#" onclick="jQuery('#usersearchresultspanel').load('$home$usermanagerhome/groups/userresults.html', {page:'$userTracker.nextPage()', oeview:'$oeview', hitssessionid:'$userTracker.sessionId', oemaxlevel:'1', groupid: '$groupid'}); return false;"><b>[[Forward]] &gt;&gt;</b></a>
		#end
	#end
</div>
</div> 