<div class="em-rounded" style="margin:20px;">
#set($order = $data)
#if( $order.userid != $context.getUserName() )
Invalid order, username does not match
#else

	#set($orderitemsearcher = $searcherManager.getSearcher($catalogid, "orderitem"))
	#set($ordersearcher = $searcherManager.getSearcher($catalogid, "order"))
	
<form class="validate" id="usereditform"  method="post" 

onSubmit='$("#submitbutton").attr("disabled","disabled");$("#submitbutton").val("Processing");'

action="$home$apphome/views/activity/download/processorder.html">
#set($searcher = $searcherManager.getSearcher($catalogid, "order"))
$context.putPageValue("searcher", $searcher)	 
$context.putPageValue("data", $order)	 
$context.putPageValue("view", "order/downloadform")	
<input type="hidden" name="view" value="order/downloadform"/>
<input type="hidden" name="searchtype" value="order"/>
<input type="hidden" name="catalogid" value="$catalogid"/>
<input type="hidden" name="orderid" value="$order.id"/>
<input type="hidden" name="newuserstatus" value="downloadrequested"/>

<input type="hidden" name="field" value="publishdestination" />
<input type="hidden" name="publishdestination.value" value="0" /> ## 0 is http 1 is aspera

<input type="hidden" name="field" value="ordertype" />
<input type="hidden" name="ordertype.value" value="download" />
	#if($canconvert)
	<p><strong>Please choose a download format for each type of asset.</strong></p>
	#end
	
	#set($filetypes = [])
	#foreach( $item in $orderitems )
		#set( $asset = $mediaarchive.getAssetBySourcePath($item.assetsourcepath))
		#set($fileformat = $asset.fileformat) ##need to get an example fileformat for each filetype
		#set($filetype = $searcherManager.getData($catalogid,"assettype",$asset.assettype))
		#if(!$filetype)
			#set($filetype="None")
		#end
		#set($found = false)
		#foreach( $ft in $filetypes)
			#if ($ft.get(0).equals($filetype))
				#set($num = $numberutils.toInt("${ft.get(1)}"))
				#set($num = $num + 1)
				#set($null = $ft.set(1,"$num"))
				#set($found = true)
				#break
			#end
		#end
		#if(!$found)
			#set($null = $filetypes.add([$filetype,"1",$fileformat]))
		#end
		
		<input type="hidden" name="itemid" value="$item.id"/>
		<input type="hidden" name="field" value="presetid"/>
		<input type="hidden" name="${item.id}.presetid.value" value=""/>
		<input type="hidden" name="field" value="itemfiletype"/>
		<input type="hidden" name="${item.id}.itemfiletype.value" value="${filetype}"/>
	#end
	
	<table id="shared-asset-table" class="striped download-table" width="100%" >
	#foreach( $ft in $filetypes)
		#set($filetype = $ft.get(0))
		#set($num = $ft.get(1))
		#set($fileformat = $ft.get(2))
		<tr>
			<td>
			<input type="hidden" name="field" value="filetype"/>
			<input type="hidden" name="filetype.value" value="${filetype}"/>
			Downloading $num $filetype
			</td>
			<td>
			<input type="hidden" name="field" value="presetid"/>
			#set($presetsearcher = $searcherManager.getSearcher($catalogid, "convertpreset") )
		  	#set($presetquery = $presetsearcher.createSearchQuery() )
			#set($null = $presetquery.setAndTogether(false))
			#set( $rendertype = false)
		    #set( $rendertype = $mediaarchive.getMediaRenderType($fileformat) )
		    #if( $rendertype )
		   	    #set($null = $presetquery.addExact("inputtype",$rendertype))
		    #end
			#set($null = $presetquery.addExact("inputtype","all"))
			#set($null = $presetquery.addSortBy("ordering"))
			#set( $results = $presetsearcher.search($presetquery) )
			#if($canconvert || $candownloadfpo) 
					

		  		<select name="${filetype}.presetid.value">
				#foreach ($preset in $results)
					#set($ok = false)
					
					#if($canconvert && $candownloadfpo)
						#set($ok = true) a
					#elseif ($canconvert && $preset.watermark != "true")
						#set($ok = true) b
					#elseif($candownloadfpo && $preset.watermark == "true")
						#set($ok = true) c
						
					#end
					#if($preset.id == "0" && $candownload)
						#set($ok = true) 
					#end
					#if($preset.id == "0" && !$candownload)
						#set($ok = false) 
					#end
					
					
					
					#if($ok)
					<option value="$preset.id">$preset
					#end
					#set($ok = false)
					</option>
					
				#end
			</select>
			#else
					  		<input type="hidden" name="${filetype}.presetid.value" value="0">
			
			#end
			</td>
		</tr>
	#end
	</table>





<div style="text-align: right">
<input class="btn" id="submitbutton" type="submit" name="submit" value="Next"  /> 
</div>
	
	<div id="itemsave"></div>
	
	
</form>
#end


</div>