#set ($searchtype = $context.getRequestParameter("searchtype"))
#set ($catalogid = $context.getRequestParameter("catalogid"))
#set ($parentid = $context.getRequestParameter("parentid"))
#set ($hitssessionid = $context.getRequestParameter("hitssessionid"))
#set ($fieldexternalid = $context.getRequestParameter("fieldexternalid"))
#set ($fieldexternalvalue = $context.getRequestParameter("fieldexternalvalue"))
#set( $edit  = $context.getRequestParameter("edit"))
#set( $candelete = "true")

#set($viewid = $context.getRequestParameter("viewid"))
#if( !$viewid )
    #set( $viewid = $context.getRequestParameter("view"))
#end

#set($viewpath = $context.getRequestParameter("viewpath"))

#if( !$viewpath )
	#set( $viewpath = $context.getRequestParameter("view"))
#end


#set ($editpath = $context.getRequestParameter("editorpath"))
#if(!$editpath)
	#set( $editpath = "${page.directory}/generictablesave.html" )
#end
#set($link = $context.getRequestParameter("selectlink"))
#if( !$link )
	#set( $link = "${page.directory}/generictablesave.html" )
#end

#set($jumptomodule = $context.getRequestParameter("jumptomodule"))

#set ($id = $context.getRequestParameter("id"))

#set( $args = "id=$id&candelete=$candelete&editpath=$editpath&parentid=$parentid&jumptomodule=$!jumptomodule&catalogid=$catalogid&searchtype=$searchtype&fieldexternalid=$fieldexternalid&fieldexternalvalue=$fieldexternalvalue&viewid=$viewid&viewpath=$viewpath&permissionname=$!permissionname&hitssessionid=$!hitssessionid&selectlink=$!link")
#set( $argsnoid = "candelete=$candelete&editpath=$editpath&parentid=$parentid&catalogid=$catalogid&searchtype=$searchtype&fieldexternalid=$fieldexternalid&fieldexternalvalue=$fieldexternalvalue&viewid=$viewid&viewpath=$viewpath&permissionname=$!permissionname&hitssessionid=$!hitssessionid&selectlink=$!link")

#set($viewdetailspath = $context.getRequestParameter("viewdetailspath"))
#set ($passalong = "viewdetailspath=$!viewdetailspath&jumptomodule=$!jumptomodule&candelete=$candelete&viewid=$viewid&viewpath=$viewpath&parentid=$parentid&hitssessionid=$!hitssessionid&selectlink=$!link&fieldexternalid=$fieldexternalid&fieldexternalvalue=$fieldexternalvalue&$fieldexternalid=$!fieldexternalvalue")
#set( $passalong = $passalong.replace("=","%3D").replace("&","%26").replace(" ","%20"))

#set( $showit = true )

#if($errors)
<p class="info">Your entry is invalid.  Please check your values and try again.</p>
#set($edit = "true")
#end

#if( $showit )
<div id="${viewid}editor" >
	#if( !$edit || $edit == "false")
	$pages.include("/$applicationid/components/xml/table.html?$args&passalong=$passalong",$context)
	#if( !$parser.parseBoolean($edit) && ($caneditdata || $caneditasset) && !$print.equals("true"))
	
	<div class="addnew-generic">
	<a class="btn ajax" style="margin-left: 20px;" href="$home$editpath?$argsnoid&edit=true&oemaxlevel=1" targetdiv="${viewid}editor">Add New</a>
	</div>
	#end
	
	#else
	
	<form name="edit${viewid}" class="ajaxform" targetdiv="${viewid}editor" method="post" id="edit${viewid}" action="$home$editpath" enctype="multipart/form-data">
	
		$context.putPageValue("view", $viewpath)
		#set ($searcher = $searcherManager.getSearcher($catalogid, $searchtype))
		$context.putPageValue("searcher", $searcher)
		#set( $data = $searcher.searchById($id) )
		$context.putPageValue("data", $data)
		
		<div id="default-fields">
		  $pages.include("/$applicationid/components/xml/detaileditor.html",$context)
		</div>
		#if( $viewdetailspath )
		<div style="text-align:right;padding: 10px;">
		  <a href="$home${viewdetailspath}?id=$id">[[see more details]]</a>
		</div>
		#end
		<div style="margin: 20px 20px 0 20px;">
			<a class="btn ajax red right" data-confirm="[[Are you sure?]]" style="color: #fff;" targetdiv='${viewid}editor' href="$home${page.directory}/table-deleterow.html?delete=true&$args&edit=false&oemaxlevel=1&id=$id">[[Delete]]</a>
			<input class="btn "  type="submit" value="Save Values"/>
			<a class="btn ajax" style="margin-left: 5px;" targetdiv='${viewid}editor' href="$home$editpath?$args&edit=false&oemaxlevel=1">[[Cancel]]</a>
		</div>

		<input name="field" type="hidden" value="$fieldexternalid" />
		<input name="${fieldexternalid}.value" type="hidden" value="$parentid" />
		<input name="parentid" type="hidden" value="$parentid" />

		<input name="oemaxlevel" type="hidden" value="1" />
		<input name="viewpath" type="hidden" value="$viewpath" />
		<input name="viewid" type="hidden" value="$viewid" />

		<input name="fieldexternalid" type="hidden" value="$fieldexternalid" />
		<input name="fieldexternalvalue" type="hidden" value="$fieldexternalvalue" />
		<input name="save" type="hidden" value="true" />
		<input name="permissionname" type="hidden" value="$!permissionname" />
		
		<input name="searchtype" type="hidden" value="$searchtype" />
		#if ($id)
			<input name="id" type="hidden" value="$id"/>
		#end
	
	</form>
			
	
	#end
</div>
#else ##showit
	<p class="info">No data has been entered.</p>
#end
