
#set( $dataroot = $content.dataroot )
<div class="tab-actions">
	<strong>Editing $!property.name</strong>
	<div style="float:right;">
	<select id="proptomodify" name="proptomodify" onchange="loadPropertyEdit($(this).val());" style="margin-top: 6px; width: 80px;" >
		<option value="" ></option>
			#foreach( $detail in $searcher.getPropertyDetails())
				<option value="$detail.id" #if($property.id == $detail.id)selected="selected"#end>$detail.text</option>
			#end
		</select>
	
	</div>
</div>
<div id="editlayout">
#set( $origURL = $context.getRequestParameter("origURL" ) )		
		
<form id="dataeditor" name="dataeditor" method="post" action="$home$dataroot/properties/save.html" >
	<input name="save" type="hidden" value="true" />
	<input name="id" type="hidden" value="$!property.id" />
	<input name="catalogid" type="hidden" value="$searcher.catalogId" />
	<input name="searchtype" type="hidden" value="$searcher.getSearchType()" />
<div id="edit-data" class="oeinputform validate-inputs">	



<table class="settings-table">

	<tr> <td>ID:</td> <td><input type="text" name="newid" value="$property.id" /></td> </tr>
	<tr> <td>[[Label]]:</td> <td><input type="text" name="name" value="$!property.name" /></td> </tr>

	
	<tr> <td>[[Editable]]:</td> <td><input name="editable" type="checkbox" #if ($property.editable == true) checked #end value="true"/> </td> </tr>

	<tr> <td>[[Internal Use]]:</td> <td><input name="internalfield" type="checkbox" #if ($property.internalfield == "true") checked #end value="true"/> </td> </tr>	

	<tr> <td>[[Default Search Operation]]:</td>
	<td>
	<select name="defaultoperation.value">
		<option value="" >Default</option>
		<option value="startswith" #if ($property.defaultoperation == "startswith") selected #end >[[Starts With]]</option>
		<option value="contains" #if ($property.defaultoperation == "contains") selected #end >[[Contains]]</option>
		<option value="orsgroup" #if ($property.defaultoperation == "orsgroup") selected #end >[[Ors Group]]</option>
		<option value="andgroup" #if ($property.defaultoperation == "andgroup") selected #end >[[And Group]]</option>
		<option value="matches" #if ($property.defaultoperation == "matches") selected #end >[[Matches]]</option>
		<option value="exact" #if ($property.defaultoperation == "exact") selected #end >[[Exact]]</option>
		<option value="not" #if ($property.defaultoperation == "not") selected #end >[[Not]]</option>
	</select>	
	<input type="hidden" name="field" value="defaultoperation"/>
	</td>
	</tr>
	

	<tr> <td>[[Data Type]]:</td>
	<td>
	<select name="datatype" width="60px">
		<option value="" >Text</option>
#foreach( $row in $searcherManager.getList($catalogid,"datadatatype") )
	<option value="$row.id" #if ($property.datatype == $row.id) selected #end >$context.getText($row.name)</option>
#end
	</select>

	#if($property.isList())
		#if( $pages.doesExist("$apphome/views/settings/lists/$property.id/parent/index.html") )
			<a id="${element.id}editlist"  class="btn right" style="margin-right: 10px;" href="$home$apphome/views/settings/lists/$property.id/parent/index.html">Edit Values</a>
		#else
			<a id="${element.id}editlist"  class="btn right" style="margin-right: 10px;" href="$home$apphome/views/settings/lists/datamanager/list/index.html?catalogid=$property.getListCatalogId()&searchtype=$property.getListId()&iframe=true&width=500&height=400">Edit Values</a>
		#end
	#end
	</td>
	</tr>
	
	<tr> <td>[[Render Type]]:</td>
	<td>
	<select name="viewtype">
	<option value="">Default</option>
#foreach( $row in $searcherManager.getList($catalogid,"datarendertype") )
	<option value="$row.id" #if ($property.viewtype == $row.id) selected #end >$context.getText($row.name)</option>
#end
	</select>	

	</td>
	</tr>

</table>

<table id="advanced" class="settings-table" style="margin-top: -20px; display: none;">

	<tr class="tableheader"> <th colspan="2">Advanced</th> </td>

	<input type="hidden" name="field" value="required"/>
	<tr> <td>[[Required]]:</td> <td><input name="required.value" type="checkbox" #if ($property.required == true) checked #end value="true"/> </td> </tr>
	<input type="hidden" name="field" value="sortable"/>
	<tr> <td>[[Sortable]]:</td> <td><input name="sortable.value" type="checkbox" #if ($property.sortable == true) checked #end value="true"/> </td> </tr>
	<tr> <td>[[Searchable]]:</td> <td><input name="index" type="checkbox" #if ($property.index == true) checked #end value="true"/> </td> </tr>

	<tr> <td>[[Search View]]:</td>
	<td>
	<input type="hidden" name="field" value="searchcomponent"/>
	<select name="searchcomponent.value">
	<option value="">Default</option>
#foreach( $row in $searcherManager.getList($catalogid,"datarendertype") )
	<option value="$row.id" #if ($property.searchcomponent == $row.id) selected #end >$context.getText($row.name)</option>
#end
	</select>	

	</td>
	</tr>

	<tr> <td>[[Stored In Index]]:</td> <td><input name="stored" type="checkbox" #if ($property.stored == true) checked #end value="true"/> </td> </tr>

	<tr> <td>[[External ID]]:</td> <td><input type="text" name="externalid" value="$!property.externalId" /></td> </tr>
	<tr> <td>[[Used In Keywords]]:</td> <td><input name="keyword" type="checkbox" #if ($property.keyword == true) checked #end value="true"/> </td> </tr>
	<tr> <td>[[Used In Filters]]:</td> <td><input name="filter" type="checkbox" #if ($property.filter == true) checked #end value="true"/> </td> </tr>
	<input type="hidden" name="field" value="listid"/>
	<input type="hidden" name="field" value="listcatalogid"/>
	<input type="hidden" name="field" value="sort"/>
	<input type="hidden" name="field" value="query"/>
	<input type="hidden" name="field" value="foreignkeyid"/>

<input type="hidden" name="field" value="facetcount"/>
	<tr> <td>[[Filter Count]]:</td> <td><input type="text" name="facetcount.value" value="$!property.facetcount"/> <span class="detail-note">Defaults to 20<span></td> </tr>
<input type="hidden" name="field" value="note"/>
	<tr> <td>[[Help Note]]:</td> <td><input type="text" name="note.value" value="$!property.note"/> </td> </tr>


	<tr> <td>[[List ID]]:</td> <td><input type="text" name="listid.value" value="$!property.listid"/> </td> </tr>
	<tr> <td>[[List Catalog ID]]:</td> <td><input type="text" name="listcatalogid.value" value="$!property.listcatalogid"/> </td> </tr>
	<tr> <td>[[List Sort Field]]:</td> <td><input type="text" name="sort.value" value="$!property.sort"/> </td> </tr>
	<tr> <td>[[List Query]]:</td> <td><input type="text" name="query.value" value="$!property.query"/> </td> </tr>
	<tr> <td>[[Foreign Key ID]]:</td> <td><input type="text" name="foreignkeyid.value" value="$!property.foreignkeyid"/> </td> </tr>


	<input type="hidden" name="field" value="dependson"/>
	<input type="hidden" name="field" value="dependsonvalue"/>

	<tr> <td>[[Depends On ID]]:</td> <td><input type="text" name="dependson.value" value="$!property.dependson"/> </td> </tr>
	<tr> <td>[[Depends On Values]]:</td> <td><input type="text" name="dependsonvalue.value" value="$!property.dependsonvalue"/> </td> </tr>


	<tr> <td>[[Regex]]:</td> <td><input type="text" name="regex.value" value="$!property.sort"/> </td> </tr>
	<input type="hidden" name="field" value="regex"/>


	<tr> <td>[[Render Mask]]:</td> <td><input type="text" name="render.value" value="$!property.render"/> </td> </tr>
	<input type="hidden" name="field" value="render"/>



	#if($detail.viewtype=="asset")
	<input type="hidden" name="field" value="sourcepath"/>
	<tr> <td>[[Sourcepath filter (for uploads)]]:</td> <td><input type="text" name="sourcepath.value" value="$!property.sourcepath"/> </td> </tr>
	#end



</table>

</div>
<input class="btn right" style="margin-right: 20px;" type="submit" value="Save" />

</div>
</form>

#if( $savedok && $origURL )
<div class="embutton">
	<a href="$origURL">[[Go Back]]</a>	
</div>	
#end


<a class="btn red" style="margin-left: 20px; margin-right: 5px;" href="remove.html?id=$!property.id&catalogid=$catalogid&searchtype=$searcher.getSearchType()">[[Delete Field]]</a>
<a class="btn" style="margin-top: 3px;" id="viewadvanced">View Advanced Options</a>



<script>
    $('#viewadvanced').click(function(){
        if ( $(this).hasClass('show') ) {
            $('#advanced').hide();
            $(this).html('View Advanced Options');
            $(this).removeClass('show');
        } else {
            $('#advanced').show();
            $(this).html('Hide Advanced Options');
            $(this).addClass('show');
        }  
    });

	loadPropertyEdit = function(selectedid) {

		jQuery("#propertyEditPanel").load("$home${dataroot}/properties/edit.html?id=" + selectedid + "&oemaxlevel=1&catalogid=${mediaarchive.getCatalogId()}&searchtype=${searcher.getSearchType()}");
	}

</script>