   <div id="mediaviewer" class="max">
        
            #set( $ismultifine = $asset.id.startsWith("multiedit:") )
            #if($ismultifine )
                <div id="media-player" >
                    <h2 style="color: #fff; margin: 20px 0;">[[Editing across $asset.size() records]]</h2>
                </div>
    
            #else

                <div id="media-player-table" class="table" >
                    $pages.include("$apphome/components/mediaviewer/player/index.html",$context)
                </div>

                
                
                <div id="asset-viewer-status">
                    $pages.include("$apphome/components/mediaviewer/details/status.html", $context)
                </div>
           
            #end
        
    </div>