#if (!$hit)
	#set ($hit = $asset)
#end

#if (!$hit)
	#set ($hit = $data)
#end

#set ($sourcepath = $hit.sourcepath)
#set ( $urlutils = $context.getPageValue("url_util"))
#if ($urlutils)
	#set ( $sourcepath = $urlutils.encode($sourcepath))
	#set ( $sourcepath = $sourcepath.replace("%2F", "/") )
#end

#set ($mediumend = "/${applicationid}/views/modules/asset/downloads/preview/medium/$sourcepath/thumb.jpg")
#set( $msize = "$home$mediumend")
#set ($thumbsize = $context.getPageValue("thumbsize"))
#if(!$thumbsize)
	#set($thumbsize = "thumb")
#end

#set ($usethumblink = $context.getPageValue("usethumblink"))
#if(!$usethumblink)
	#set($usethumblink = "true")
#end

#set ($thumbsize = $context.getPageValue("thumbsize"))
#if(!$thumbsize)
	#set($thumbsize = "thumb")
#end

###set ($sourcepath = $hit.sourcepath)

<span id="emthumbholder">
	#if( $hit.importstatus && $hit.importstatus == "uploading" )
		$pages.include("$apphome/components/uploadqueue/uploadstatus.html?assetid=${hit.id}",$context)	
	#elseif( !$hit.importstatus || $hit.importstatus != "complete" )
		$context.putPageValue("thumbsize", $thumbsize)
		$pages.include("$apphome/components/convertqueue/importstatus.html?assetid=$!{hit.id}",$context)
		
	#elseif( $hit.previewstatus && $hit.previewstatus == "mime")
		#set ($mime = $mediaarchive.getMimeTypeIcon($hit.fileformat))
		#set( $thumbpath =  "$themeprefix/images/mimetypes/${mime}.png" )
		<img class="mimethumb" style="height:64px" src="$home$thumbpath" border="0"/>
	#else	
		<img class="emdropshadow" sourcepath="$sourcepath" catalogid="$catalogid" assetid="$hit.id" alt="" 	
		title="$sourcepath"
		src="$home/${applicationid}/views/modules/asset/downloads/preview/$thumbsize/$sourcepath/thumb.jpg" border="0" />
	#end

</span>