			<script type="text/javascript" src="http://demo.entermediasoftware.com/feb10/media/browse/video/mediaplayer/flowplayer/flowplayer-3.1.4.min.js"></script>
		<a href="http://demo.entermediasoftware.com/feb10/media/browse/video/downloads/converted/cache/users/admin/Demo Video/horsedrawncarriage.avi/preview.flv" style="display:block;width:700px;height:450px;" id="mediaplayer1">  		</a> 
	
<script language='javascript'>
			flowplayer("mediaplayer1", "http://demo.entermediasoftware.com/feb10/media/browse/video/mediaplayer/flowplayer/flowplayer-3.1.5.swf", 
			{  

			    // configure clip to use "lighthttpd" plugin for providing video data 
			    clip: 
			    { 
			        url: 'http://demo.entermediasoftware.com/feb10/media/browse/video/downloads/converted/cache/users/admin/Demo Video/horsedrawncarriage.avi/preview.flv', 
			        provider: 'lighttpd',
			        scaling: "fit", 
		    	}, 
			     // streaming plugins are configured normally under the plugins node 
			    plugins: 
			    { 
			        lighttpd: 
			        { 
			            url: 'http://demo.entermediasoftware.com/feb10/media/browse/video/mediaplayer/flowplayer/flowplayer.pseudostreaming-3.1.3.swf' 
			        }
    			},
    			 canvas: 
    			 { 
	    			 backgroundColor: '#000000',
	    			 backgroundGradient: 'none',
	    			 border: '130px solid #000000'
    			}
			});		
			var player;
			function playerReady(obj)
			{
				player = document.getElementById('mediaplayer1');
				jQuery("#fancy_close", parent.document).click( function() { player.sendEvent("STOP"); } );
			}
</script>

			