
#set($displayconversions = false)
#foreach ($result in $results)
	#if(!$conversionUtil.doesExist($catalogid, $asset.id,$asset.sourcePath, $result.id))
		#set($displayconversions = true)
		#break
	#end
#end

#if($displayconversions)
<form method="post" action="$home$apphome/views/modules/asset/editor/fatwirecrop/index.html">
	<input type="hidden" id="assetid" name="assetid" value="$asset.id"/>
	<input type="hidden" id="sourcepath" name="sourcepath" value="$asset.sourcePath"/>
	<input type="hidden" id="field" name="field" value="presetid"/>
	<label for="preset.value">Create New Conversion:</label>
	<select name="presetid.value" id="newpreset">
	#foreach ($result in $results)
		#if(!$conversionUtil.doesExist($catalogid, $asset.id,$asset.sourcePath, $result.id))
	<option value="$result.id">$result.name</option>
		#end
	#end
	</select>
	<input class="thickbox btn" type="submit" value="Create" style="margin: 5px;" />
</form>
#end


