#set($outputfile = $context.findValue("outputfile"))
<textarea class="embedlinktextarea" type=text onclick="this.select();" readonly="readonly" rows="7" cols="60">
$content.siteroot$home$apphome/views/modules/asset/downloads/generatedpreview/${asset.sourcepath}/$outputfile
</textarea>
<p>[[Select code then right click to copy]]</p>