<style>
h1{
	font-family:Arial,Helvetica,sans-serif;
	font-size:24px;
	color:black;
}
h2{
	font-family:Arial,Helvetica,sans-serif;
	font-size:22px;
	color:black;
}
.h2e {
	display: inline-block;
  	margin: 0px 20px;
  	color:#686868;
}
h3{
	font-family:Arial,Helvetica,sans-serif;
	font-size:20px;
	margin: 0 20px 20px;
}
.h3e {
	display: inline-block;
  	margin: 0px 20px;
  	
}
.h3e a{
	color:#003399;
	text-decoration: underline;
}
h4{
	font-family:Arial,Helvetica,sans-serif;
	font-size:18px;
	margin: 0 20px 20px;
}
p{
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
}

.info {
    font-size: 12px;
    color: #666;
    background: #eee;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 15px 0px;
    /*text-align: center;*/
}
</style>

<h1>Automatic Conversions</h1>

#set($newpreset = $context.findValue("newpreset"))
#set($results = $conversionUtil.getActivePresetList($catalogid))
$context.putPageValue("results", $results)

#foreach ($result in $results)
	#if($conversionUtil.doesExist($catalogid, $asset.id,$asset.sourcePath, $result.id))
<div class="info" >

		<!-- include name + info -->
		#set($dimension = $conversionUtil.getConvertPresetDimension($catalogid,$result.id))
		#set($height = $mathtool.toInteger($dimension.getHeight()))
		#set($width = $mathtool.toInteger($dimension.getWidth()))
		##$context.putPageValue("height", $height)
		##$context.putPageValue("width", $width)
		
		#set($aspectratio = $conversionUtil.getConvertPresetAspectRatio($dimension))
		#set($description = $conversionUtil.getConvertPresetParameter($catalogid,$result.id,"imagelocation"))
		#if ($height > 0 && $width > 0)
			<h2>$result.name  <span class="h2e">${width}x${height}</span>  <span class="h2e">Aspect Ratio: $aspectratio</span></h2>
			###if($description && $description!="") <span style="font-size:smaller;">$description</span> #end
		#else
			<h2>$result.name</h2>
		#end
		#set($description = "")
	
		
		<!-- include modify -->
		$context.putPageValue("presetdata",$result)
		$pages.include("$home$apphome/views/modules/asset/editor/fatwirecrop/modify.html", $context)
		
		#set($isready = $conversionUtil.isConvertPresetReady($catalogid,$asset.id,$asset.sourcePath, $result.id))
		#if($isready)
			<!--  include share -->
			$pages.include("$home$apphome/views/modules/asset/editor/fatwirecrop/share.html", $context)
			#set($cancrop = $conversionUtil.canCrop($catalogid,$result.id,$asset.id))
			#if($cancrop)
			#else
				<span style="font-size:smaller;margin: 0 20px 20px;">Image is too small to crop to the desired crop dimension</span>
				
			#end
			<!-- include submit to fatwire -->
			#if($result.publishtofatwire == "true") 
				$pages.include("$home$apphome/views/modules/asset/editor/fatwirecrop/submittofatwire.html", $context)
			#end
		#end
	</div>
	#end

#end

$context.putPageValue("asset",$asset)
#if($newpreset)
	$context.putPageValue("omitpreset",$newpreset)
#end
$pages.include("$home$apphome/views/modules/asset/editor/fatwirecrop/createnewconversion.html", $context)

