#set($status = $conversionUtil.getConversionStatus($catalogid,$asset.id,$presetdata.id))

<h5>

##File Name: $presetdata.outputfile

<span class="h3e">
	Status: $status
</span>



#set( $editPath = "/WEB-INF/data/$catalogid/generated/$asset.sourcePath/${presetdata.outputfile}" )
<span class="h3e">
$pages.include("$home$apphome/views/modules/asset/editor/fatwirecrop/attachmenthistory/revisionslink.html?editPath=$editPath&assetid=${asset.id}&sourcepath=$asset.sourcepath", $context)
</span>
</h5>

##set($pagemanager = $mediaarchive.getPageManager())
##set($previewpath = "$home$apphome/views/modules/asset/downloads/preview/cropinput/${asset.sourcepath}/preview.jpg")
##set($page = $pagemanager.getPage($previewpath, $context))


<script type="text/javascript">
jQuery("a.cropbox").livequery(
			function() 
			{
				jQuery(this).fancybox(
				{
			    	openEffect	: 'elastic',
			    	closeEffect	: 'elastic',
			    	scrolling: 'none',
			    	fitToView: true,
			    	aspectRatio: true,
			    	helpers:  {
       					title : {
			    			type : 'inside'
			    		}
    				}
			    	
				});
			}
		); 
</script>

## check whether we can crop on particular image


<a class="thickbox btn" data-fancybox-type="ajax" href="$home$apphome/views/modules/asset/editor/fatwirecrop/upload.html?assetid=${asset.id}&presetid=${presetdata.id}&oemaxlevel=1">Upload</a>
##<a class="cropbox btn" data-fancybox-type="ajax" href="$home$apphome/views/modules/asset/editor/fatwirecrop/previewcrop.html?assetid=${asset.id}&presetid=${presetdata.id}&oemaxlevel=1">Edit</a>

#set($cancrop = $conversionUtil.canCrop($catalogid,$presetdata.id,$asset.id))
#if($cancrop)
<a class="btn" href="$home$apphome/views/modules/asset/editor/fatwirecrop/previewcrop.html?assetid=${asset.id}&presetid=${presetdata.id}">Edit</a>
#end


