<div style="padding:20px;">
#set($presetid = $context.findValue("presetid"))
#set($dimension = $conversionUtil.getConvertPresetDimension($catalogid,$presetid))
#set($width = $dimension.getWidth())
#set($height = $dimension.getHeight())
#set($width = $mathtool.toInt($width))
#set($height = $mathtool.toInt($height))

<!-- 
Preset Details: $width x $height <br>
Asset Details: $asset.width x $asset.height<br>
 -->
<div id="submit-crop"></div>

<div class="inline-labels">
	<label>Crop Box Dimension:</label>
	<label id="dimension"></label>
</div>

<form id="coords" class="coords" targetdiv="submit-crop" action="$home$apphome/views/modules/asset/editor/fatwirecrop/submitcrop.html">
    <input class="clearable" type="hidden" size="4" id="x1" name="x1.value" />
    <input class="clearable" type="hidden" size="4" id="y1" name="y1.value" />
    <input class="clearable" type="hidden" size="4" id="x2" name="x2.value" />
    <input class="clearable" type="hidden" size="4" id="y2" name="y2.value" />
    <input class="clearable" type="hidden" size="4" id="w" name="cropwidth.value" />
    <input class="clearable" type="hidden" size="4" id="h" name="cropheight.value" />
    
    <input type="hidden" name="field" value="x1"/>
    <input type="hidden" name="field" value="y1"/>
    <input type="hidden" name="field" value="cropwidth"/>
    <input type="hidden" name="field" value="cropheight"/>
    <input type="hidden" name="field" value="crop"/>
    <input type="hidden" name="field" value="force"/>
    <input type="hidden" name="field" value="assetid"/>
    <input type="hidden" name="preset" value="${presetid}"/>
    <input type="hidden" name="sourcepath" value="${asset.sourcepath}"/>
    <input type="hidden" name="crop.value" value="true"/>
    <input type="hidden" name="force.value" value="true"/>
    <input type="hidden" name="assetid.value" value="${asset.id}"/>
    
    <span style="margin: 0 10px 20px;">
	    <label for="submitbutton">Crop the image below</label>
	    <input class="thickbox btn" type="submit" name="submitbutton" value="Submit" style="margin: 5px;" />
    </span>
  </form>


<div id="preview-pane">
  <div class="preview-container" >
    <!-- 
    <img src="$home$apphome/views/modules/asset/downloads/preview/large/${asset.sourcepath}/preview.jpg" class="jcrop-preview" alt="Preview" /> 
    -->
  </div>
</div>

<img align="center" src="$home$apphome/views/modules/asset/downloads/preview/cropinput/${asset.sourcepath}/preview.jpg" id="target" alt="${asset}" />

<script type="text/javascript">
  jQuery(function(){

    // Create variables (in this scope) to hold the API and image size
    var jcrop_api,
        boundx,
        boundy,

        // Grab some information about the preview pane
        preview = $('#preview-pane'),
        pcnt = $('#preview-pane .preview-container'),
        pimg = $('#preview-pane .preview-container img'),

        xsize = $width,
        ysize = $height;
    
    $('#target').Jcrop({
      onChange: updatePreview,
      onSelect: updatePreview,
      onRelease: clearCoords,
      minSize: [xsize,ysize],
      boxWidth: 1280,
      boxHeight: 1280,
      setSelect: [0,0,xsize,ysize],
      aspectRatio: xsize / ysize
    },function(){
      // Use the API to get the real image size
      var bounds = this.getBounds();
      boundx = bounds[0];
      boundy = bounds[1];
      // Store the API in the jcrop_api variable
      jcrop_api = this;

      // Move the preview into the jcrop container for css positioning
      preview.appendTo(jcrop_api.ui.holder);
    });

    function updatePreview(c)
    {
      
      if (parseInt(c.w) > 0)
      {
    	
        var rx = xsize / c.w;
        var ry = ysize / c.h;

        pimg.css({
          width: Math.round(rx * boundx) + 'px',
          height: Math.round(ry * boundy) + 'px',
          marginLeft: '-' + Math.round(rx * c.x) + 'px',
          marginTop: '-' + Math.round(ry * c.y) + 'px'
        });
      }
      
      showCoords(c);
    };
    
    /*
    $('#coords').on('change','input',function(e){
        var x1 = $('#coordsx1').val(),
            x2 = $('#coordsx2').val(),
            y1 = $('#coordsy1').val(),
            y2 = $('#coordsy2').val();
        jcrop_api.setSelect([x1,y1,x2,y2]);
      });
    */
  });
  
  
  
  function showCoords(c)
  {
	  var x1 = Math.round(c.x),
	  	y1 = Math.round(c.y),
	  	x2 = Math.round(c.x2),
	  	y2 = Math.round(c.y2),
	  	w = Math.round(c.w),
	  	h = Math.round(c.h);
	  var dimension = w + " X " + h;
	  
    $('#x1').val(x1);
    $('#y1').val(y1);
    $('#x2').val(x2);
    $('#y2').val(y2);
    $('#w').val(w);
    $('#h').val(h);
    
    $('#dimension').text(dimension);
  };

  function clearCoords()
  {
    $('#coords input .clearable').val('');
  };
</script>
<style type="text/css">
.jcrop-holder #preview-pane {
  display: none;
  position: absolute;
  z-index: 2000;
  top: 10px;
  right: -280px;
  padding: 6px;
  border: 1px rgba(0,0,0,.4) solid;
  background-color: white;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: scroll;

  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}
#preview-pane .preview-container {
  width: ${width}px;
  height: ${height}px;
  overflow: none;
  display:none;
}
.inline-labels {
	margin: 0 10px 20px;
#if($width < 1 && $height < 1)
	display:inline;
#else
	display:none;
#end
}
.inline-labels label {
	font-weight: bold;
	padding-bottom: 8px;
	width: 100%;
	font-size: 14px;
}
</style>
</div>