
#set($searcher = $searcherManager.getSearcher($catalogid, "fatwireregion"))
#set($query = $searcher.createSearchQuery())
#set($null = $query.addMatches("id","*"))
#set($null = $query.addSortBy("id"))
#set($regions = $searcher.search($query))

<hr>
<form id="submit-${presetdata.id}" method="post" action="$home$apphome/views/modules/asset/editor/fatwirecrop/submit-fatwire-finish.html">
	<input type="hidden" id="oemaxlevel" name="oemaxlevel" value="1"/>
	<input type="hidden" id="publishassetid" name="publishassetid" value="$asset.id"/>
	<input type="hidden" id="presetid" name="presetid" value="$presetdata.id"/>
	
	###put in table for now to line up inputs and div
	<table border="0">
		<tr>
			<td>
				#if($regions.size() > 0)
					<span style="margin: 0 20px 20px;">
						<label for="regionid">Select a Region</label>
						<select name="regionid" id="regionid">
							<option value="" selected>Choose...</option>
						#foreach ($region in $regions)
							<option value="${region.id}">$region.name</option>
						#end
						</select>
					</span>
				#end
			</td>
			<td>
				<input id="submitbtn-${presetdata.id}" style="margin: 0 20px 20px;" class="thickbox btn" type="button" value="Send to Fatwire" />
			</td>
			<td>
				<div id="info-${presetdata.id}" style="margin: 0 20px 20px;">
					&nbsp;
				</div>
			</td>
		</tr>
	</table>
</form>
$pages.include("$home$apphome/views/modules/asset/editor/fatwirecrop/table.html", $context)

#set( $D = '$' )
#set($hitssessionid = $context.findValue("hitssessionid"))
<script>
$(document).ready(function(){
	$("#submitbtn-${presetdata.id}").click(function(){
		var region = $("#submit-${presetdata.id} select[name=regionid]").val();
		if (!region || 0 == region.length){
			$("#info-${presetdata.id}").html("<span style=\"color:red;\">Select a Region before submitting.</span>").show().fadeOut( 5000 );
			return false;
		}
		$("#submit-${presetdata.id}").submit(function(e){
			e.preventDefault();
			var postData = $(this).serializeArray();
			var formURL = $(this).attr("action");
			${D}.ajax({
				url : formURL,
				type: "POST",
				data : postData,
				success:function(data, textStatus, jqXHR){
					$("#info-${presetdata.id}").html("Refreshing... <img src=\"/${applicationid}/theme/images/ajax-loader.gif\">").show();
					setTimeout(function(){
						redirectTo("${context.getContentPage()}?assetid=${asset.id}&hitssessionid=$!hitssessionid"); 
					}, 5000);
				},
				error: function(jqXHR, textStatus, errorThrown){
					$("#info-${presetdata.id}").html("<img src=\"/${applicationid}/theme/images/ajax-loader.gif\">").show();
					setTimeout(function(){ 
						redirectTo("${context.getContentPage()}?assetid=${asset.id}&hitssessionid=$!hitssessionid");
					}, 5000);
				}
			});
		});
		$("#submit-${presetdata.id}").submit();
	});
});
function redirectTo(url){
	window.open(url,"_self");
	return false;
}
</script>







