#set( $moduleid = $context.findValue("module") )
#set ( $defaultview = $userprofile.getDefaultViewForModule($moduleid) )
#set( $searchhome = $context.findValue("searchhome") )

    
#if ( $hits.size() == 0 )
$pages.stream("/${content.searchhome}/empty.html", $context)	
                                                                                                                                                                                                              
#else


#set( $resultdetail = $searcher.getDetailsForView("${moduleid}/${moduleid}resultstable", $userprofile))


##set ( $canedit = $context.getPageValue("${moduleid}edit") )

#set($popupdetail = $searcher.getDetailsForView("${moduleid}/${moduleid}popupdetail"))
#if ($popupdetail && $popupdetail.size() > 0)
	#set( $enablepopup = "true")
#end


<form name="selectionform" action="$home${content.searchhome}/common/selection/toggle.html">
<input type="hidden" name="hitsname" value="hits"/>

<div class="tablecontainer">

<div class="editholder" style="margin-top: 0;">
 <div id="messagearea"> </div>

#if( $canviewmodulesettings ) 
  <a id="editboxlink" class="ir  emdialog" data-width="700" href="$home$apphome/views/settings/modules/$moduleid/metadata/viewssystem/indexdialog.html?viewid=${moduleid}resultstable&viewpath=${moduleid}/${moduleid}resultstable">Edit</a>
#end  

</div>
<div id="emselectable" >


<table class="striped" id="main-results-table" data-hitssessionid="$!hits.sessionId">

<thead>
<tr id="tableheader" >
#if($content.isPropertyTrue("showactions"))

	<th class="firstheader" id="th-checkbox"><input name="pagetoggle" type="checkbox" #if($hits.isAllSelected()) checked #end />
	    <div class="anchor">
    	    <div class="select-dropdown-open down"></div>
    	    <ul class="select-dropdown" style="display: none;">
    	        <li><a class="ajax selectpage" targetdiv="drag-columns-text" href="$home$apphome/components/results/togglepage.html?oemaxlevel=1&hitssessionid=$hits.getSessionId()&action=page">Select This Page</a></li>
    	        <li><a class="ajax  selectpage" targetdiv="drag-columns-text" href="$home$apphome/components/results/togglepage.html?oemaxlevel=1&hitssessionid=$hits.getSessionId()&action=all">Select All Results</a></li>
    	        <li><a class="ajax  deselectpage" targetdiv="drag-columns-text" href="$home$apphome/components/results/togglepage.html?oemaxlevel=1&hitssessionid=$hits.getSessionId()&action=none">Deselect All</a></li>
    	    </ul>
    	</div>
	</th>


	
	
#end

#set( $sortby = $hits.getSearchQuery().getSortBy() )
#foreach( $detail in $resultdetail )
		<th  class="sortable #if( $edit)editcolumnheader #end #if( $sortby.startsWith($detail.getId() ) ) currentsort #if( $sortby.endsWith("Up") ) up #else down #end #end" id="$detail.id">
					
			<div id="$detail.id" hitssessionid="$hits.getSessionId()"  editing="$edit" class="headerdraggable headerdroppable"> 
					#text( $detail.text )
					#if( $edit)
						<a class="baseemenableonhover ajax edit-table-header" targetdivinner="resultsdiv" href="$home$apphome/components/results/addremovecolumns.html?oemaxlevel=1&searchtype=$moduleid&hitssessionid=$hits.getSessionId()&editheader=true&removecolumn=$detail.id"><img title="Remove" src="$home$themeprefix/images/navigation/deletesm.png" /></a>
					
					#end
			</div>
		 </th>  
	
#end


</tr>
</thead>
<tbody>
    
    
    
#set( $even = true )
#set($count = 0)
#foreach ( $cell in $hits.getPageOfHits() )

   	$context.putPageValue('data', $cell)
    $context.putPageValue('cell', $cell)
    
	#set( $clink = "$home${content.linkprefix}${cell.id}${content.linksuffix}" )
        
        <tr  #if( $caneditdata )  rowid="$home$content.searchhome/edit/edit.html?id=${cell.id}&viewid=$defaultview.id&viewpath=$moduleid/$defaultview.id&hitssessionid=${hits.sessionId}&searchtype=$moduleid" #else rowid="$home$content.searchhome/view/view.html?id=${cell.id}&hitssessionid=${hits.sessionId}&searchtype=$moduleid" #end >
   
    
#if($content.isPropertyTrue("showactions"))

	<td class="borderedcell checkbox" noclick="true"> 
		
<input type="checkbox" class="selectionbox" name="count" value="" #if($hits.isSelected(${cell.id})) checked #end data-dataid="${cell.id}" />

##<input type="checkbox" class="moduleselectionbox" name="count" value="" #if($hits.isSelectedOnPage(${cell.id})) checked #end data-dataid='${cell.id}' data-hitssessionid='$hits.sessionId' />
<div id="check_${count}">
</div>

</td>

#end


#foreach( $detail in $resultdetail )
<td class="editfield highlightMe" halign="right">
   <div id="edit_${cell.id}_$detail.id" class="popupdetails" data-id="${cell.id}">
		#set($val = false)	
		#set( $val =  $cell.get($detail.id) )
      	#if( !$val && $detail.render )	
			#set($val = $searcherManager.getValue($catalogid,$detail.render, $cell.properties) ) 
		#end	
		#if( !$val )
			#set($val = "")	
		#end		
              $context.putPageValue('val',  $val)
	
              $context.putPageValue('detail',  $detail)
              $pages.include("${searchhome}/cell.html", $context)    
    		

    </div>
</td>
#end


</tr>
#set($count = $count + 1)
#end
</tbody>
</table>
</div>
#if($content.isPropertyTrue("showactions"))
## <div align="left" id="messagearea">$pages.include("/${content.searchhome}/selections/togglepage.html")</div>
#end

   <div id="navigationrow">

 $pages.stream("/${content.searchhome}/navigate.html", $context)		
</div>

</div></div>



</form>

<script>
    $('th.sortable').on({
        click: function(){
            var id = $(this).attr('id');
            if ( $(this).hasClass('currentsort') ) {
                if ( $(this).hasClass('up') ) {
                    jQuery('#resultsarea').load( '$home${searchhome}/columnsort.html?oemaxlevel=1&searchtype=$moduleid&hitssessionid=$hits.getSessionId()&sortby=' + id + 'Down');
                } else {
                    jQuery('#resultsarea').load( '$home${searchhome}/columnsort.html?oemaxlevel=1&searchtype=$moduleid&hitssessionid=$hits.getSessionId()&sortby=' + id + 'Up');
                }
            } else {
                $('th.sortable').removeClass('currentsort');
                $(this).addClass('currentsort');
                jQuery('#resultsarea').load( '$home${searchhome}/columnsort.html?oemaxlevel=1&searchtype=$moduleid&hitssessionid=$hits.getSessionId()&sortby=' + id + 'Down');
            }
        }
    });
</script>

#if($enablepopup)
<script>
    $('.popupdetails').on({
		powerTipPreRender: function() {
			$(this).data('powertip' , '<div class="details"><img src="${themeprefix}/styles/tooltip/tooltip-loader-blue.gif" /></div>');
		},
		powerTipRender: function() {
			var id = $(this).data("id");
			$('#powerTip').find('.details').load( '$home${searchhome}/popup.html?oemaxlevel=1&id=' + id );
		}
	});
	$(function() {
		var mouseFollowDiv = $('.popupdetails');
		var tipContent = $('<p></p>');
		mouseFollowDiv.data('powertip', tipContent);
		mouseFollowDiv.powerTip({ followMouse: true });
	});
</script>
#end

#end

## $pages.include("/${content.searchhome}/actions.html", $context)