#set( $root = "$home$page.directory")
#set( $catalogid = $asset.catalogId )

#if(!$asset.sourcepath)
	#set($sourcepath = $context.getRequestParameter("sourcepath"))
#else
	#set($sourcepath = $asset.sourcepath)
#end
#set( $source = "$home/${applicationid}/views/modules/asset/downloads/converted/cache/${sourcepath}/video.mp4" )
#set( $thumb = "$home/${applicationid}/views/modules/asset/downloads/preview/large/${sourcepath}/thumb.jpg" )
<a href="$source" style="background-image:url('$thumb')" class="mediaplayer" id="main-media" style="display: block;">
	<img src="$root/play_large.png" alt="Play Video"/> 
</a> 

<!--  Start Flowplayer Engine  -->		
<script type="text/javascript" src="$root/flowplayer-3.2.6.min.js"></script>

#set( $embed = $context.getRequestParameter("embed") )



<style>

#if( $embed == "true")

a.mediaplayer
{ 
	padding: 0px;
	display:block;
	width:100%;
	height:100%;
	text-align:center;
  	margin-left: auto;
    margin-right: auto;
	background-repeat:no-repeat;
	background-position:center; 
}

#else

a.mediaplayer
{ 
	display:block;
	width:528px;
	height:360px;
	text-align:center;
  	margin-left: auto;
    margin-right: auto;
	background-repeat:no-repeat;
	background-position:center; 
}

#end

/* play button */
a.mediaplayer img {
	margin-top:150px;
	border:0px;
}

</style>		
		
<script language='javascript'>
			flowplayer('a.mediaplayer', {src: '$root/flowplayer-3.2.7.swf'},
			{  
			    // configure clip to use "lighthttpd" plugin for providing video data 
			    clip: 
			    { 
			        url: '$source', 
			        provider: 'h264streaming',
			        scaling: 'fit' 
		    	}, 
			     // streaming plugins are configured normally under the plugins node 
			    plugins: 
			    { 
			    	h264streaming: {
			    	     url: '$root/flowplayer.pseudostreaming-3.2.7.swf'
			    	    }
    			 },
    			 controls: {
    			      url: '$root/flowplayer.controls-3.2.5.swf',
    			      play:false,
    			      fullscreen:true,
    			      scrubber: true
    			 },
    			 canvas: 
    			 { 
	    			 backgroundColor: '#2D2C2C',
	    			 backgroundGradient: 'none'
	    			
    			 }
			});		
</script>
