<h2>Administrative Notification</h2>

Assets were published.  Review below:
<br/>
#set( $apphome = $order.get("applicationid") )

<a href="$context.siteRoot$home$apphome/views/activity/download/index.html?orderid=$order.id">View</a><br/><br/>


<br/>
