#if( $canviewassets || !$expired )
<table width="100%">
<tr><td>
	$pages.include("$apphome/views/activity/download/listitems.html")
</td>
<td>
<div id="selected-media" style="float: left;">
	$pages.include("$apphome/components/results/related/byselection.html")
</div>
</td>
</tr>
</table>
#else
	This share has expired. 
#end
