#set($table = $context.getRequestParameter("rendertable"))
#set($field = $context.getRequestParameter("externalid"))
#set($sortfield = $context.getRequestParameter("sortfield"))
#set($searcher = $mediaarchive.getSearcher($table))
#set($parentid = $context.getRequestParameter("id"))
#set($hits = $searcher.fieldSearch($field, $parentid, ${sortfield}, $context))
$context.putPageValue("hits", $hits)
$context.putPageValue("searcher", $searcher)
$context.putPageValue("view", $context.getRequestParameter("viewpath"))
$context.putPageValue("showselections", "false")
$context.putPageValue("showactions", "false")
#set( $moduleid = $context.findValue("module") )
#set($module = $searcherManager.getData($catalogid, "module", $moduleid ) )
<div id="subresults" style="clear:both;">
$pages.include("$apphome/views/modules/${table}/moduleresults/results.html", $context)
</div>
<div>
#if($caneditdata)


#set($viewsearcher = $searcherManager.getSearcher($catalogid, "view"))
#set($query = $viewsearcher.createSearchQuery().append("module",$table).append("systemdefined","false") )
$!query.addSortBy("ordering")   
#set($views = $viewsearcher.search($query))

    #set( $viewid = $views.first().getId() )
    #set( $viewpath = "${table}/$viewid" )

<a  class="btn ajax" href="/emshare/components/detaileditor/generictablesave.html?candelete=true&amp;editpath=/emshare/components/detaileditor/generictablesave.html&amp;parentid=southamericanexpo&amp;catalogid=$catalogid&searchtype=$table&fieldexternalid=library&fieldexternalvalue=southamericanexpo&amp;&permissionname=&hitssessionid=hitslibrarymedia/catalogs/public&selectlink=/emshare/components/detaileditor/generictablesave.html&edit=true&amp;oemaxlevel=1" style="margin-left: 20px;" >Add New Inline</a>

	<a class="btn ajax" targetdiv="libraryproject_taskseditor" href="$apphome/views/modules/${table}/edit/addnew.html?field=${field}${field}.value=${data.id}&viewid=&viewid&viewpath=$viewpath">Add New</a>

#end
</div>