#set($searchfield = $context.getRequestParameter("autocompletesearchfield"))

#if( !$searchfield)
	#set($searchfield = "name")
#end

#set($idcount = $context.getRequestParameter("idcount"))
#if(!$idcount)
	#set($idcount = "")
#end

#set( $foundrow = false )
#if($val && $val != "")
	#set( $foundrow = $searcherManager.getData($detail.getListCatalogId(),$detail.getListId(),$val) )  
#end

#if($detail.render && $foundrow)
   #set($label = $replacer.replace($detail.render, $foundrow.properties))
#else
   #set($label = $foundrow.name)
#end

##if($listsearcher.getPropertyDetails().getRender() && $foundrow)
##set($label = $replacer.replace($listsearcher.getPropertyDetails().getRender(), $foundrow.properties))
##else
##set($label = $foundrow.name)
##end

##.replace('.','-')

#set( $detailid = $detail.getId().replace('.','-') )


<input name="completefield" class="listautocomplete" id="${detailid}${idcount}value" value="#esc($label)"  type="hidden"  
	data-searchfield="$searchfield" data-searchtype="$detail.listId" data-listcatalogid="$detail.listCatalogId" data-foreignkeyid="$!detail.foreignkeyid" data-sortby="$!detail.sort"/>
<input name="${detail.getId()}.value"  id="list-${detailid}${idcount}value"   value="$!val" type="hidden"/>




#if( $idprefix != "search" && $canviewsettings && $foundrow )
	#set($module = $searcherManager.getData($catalogid, "module", $detail.listId ) )
	#if($module)
	
		#if($module.id == "asset")
		    #set($link = "$home$apphome/views/modules/asset/editor/generalinformation/index.html?assetid=$val" )
		#else
			#set ( $defaultview = $userprofile.getDefaultViewForModule($module.id) )
			#set($link = "$home$apphome/views/modules/${module.id}/edit/edit.html?id=$val&viewid=$defaultview.id&viewpath=$module.id/$defaultview.id&hitssessionid=${hits.sessionId}&searchtype=$module.id")
		#end
	
	#elseif( $detail.listid == "user")
		#set($link = "$home$apphome/views/settings/users/usermanager/user/index.html?username=$val")
	#else
		#set($link = "$home$apphome/views/settings/lists/datamanager/edit/edit.html?id=$val&searchtype=$detail.listId")
	#end
 	<a class="btn" href="$link">View</a>
#end