Here is a link to the collections page
#set( $librarycollection = $searcherManager.getData($catalogid,"librarycollection",$data.librarycollection ) )


$user shared a collection with you:<br>

#if( $data.note )
	<pre>$data.note</pre>
#end
<a href="$context.siteRoot/$applicationid/views/modules/librarycollection/edit/index.html?id=$librarycollection.getId()">View Collection ( $librarycollection )</a>