#set ($pagenum = $context.findValue("pagenum") )
#set ( $hitssessionid = $context.findValue("hitssessionid"))\
#set ($sourcepath = $asset.sourcepath )
#if ( !$pagenum ) 
    #set ( $pagenum = $currentpreview + 1)
#end
#if ( !$pagenum ) 
    #set ( $pagenum = 1)
#end
#set ( $gotopage = $currentpreview + 1)
    <div id="pdf-viewer-container">
        #if ($gotopage > 1)
             #set( $prevthumb = $gotopage - 1)
            <a id="prevpage" class="ir" href="$home$apphome/views/modules/asset/editor/viewer/index.html?assetid=${asset.getId()}&pagenum=$prevthumb&hitssessionid=$hitssessionid"> Previous </a>
        #end
        #if($currentpreview)
            #set( $page = $currentpreview + 1)
        	#set( $link = "/${applicationid}/views/modules/asset/downloads/preview/extralarge/$sourcepath/preview.jpg?pagenum=$page")
        #else
        	#set( $link = "/${applicationid}/views/modules/asset/downloads/preview/extralarge/$sourcepath/preview.jpg")
        #end
        <a class="thickbox" href="$home$link" target="_parent"	
        	title="[[$asset]]">
        	#set( $page = $currentpreview + 1)
        	<img id="main-media" class="emdropshadow #if( $totalpages > 1 ) document #end" src="$home/${applicationid}/views/modules/asset/downloads/preview/large/${asset.sourcepath}/preview.jpg?pagenum=$!gotopage" alt="[[Preview Image]]"/>
        
        </a>
        #if ($gotopage != $totalpages)
             #set( $nextthumb = $gotopage + 1)
            <a id ="nextpage" class="ir" href="$home$apphome/views/modules/asset/editor/viewer/index.html?assetid=${asset.getId()}&pagenum=$nextthumb&hitssessionid=$hitssessionid"> Next </a>
        #end
    </div>



#if( $totalpages > 1 )
                    <div id="jumpto">
                        <form method="get" style="float: left;" action="$home$apphome/views/modules/asset/editor/viewer/index.html">
                           <input id="pagejumper" name="pagenum" value="$!pagenum" />
                           <input  type="hidden" name="assetid" value="$!asset.getId()" />
                           <input  type="hidden" name="hitssessionid" value="$!hitssessionid" />
                           <input type="submit" id="gotopage" class="btn" value="Go" />
                        </form>
                        <span style="position: relative; top: 10px; left: 10px;">Jump To Page (1 - $totalpages)</span>
                    </div>
                #end




