<tr rowid="$hit.id" title="$sourcepath">
#if( $showtoolbar )
	<td class="borderedcell checkbox" noclick="true"> 
		
<input type="checkbox" class="selectionbox" name="count" value="" #if($hits.isSelected(${hit.id})) checked #end data-dataid="${hit.id}" />

	</td>
#end	
	<td class="resultstablecell thumbnail assetdraggable" data-assetid="${hit.id}" >
$pages.include("$apphome/components/results/thumbnails/small.html",$context)		
	</td>

#foreach( $detail in $details)
	#set( $value = false)
	#if( $detail.id == "name")
		#if( $hit.name )
      		#set( $value = $hit.name )
      	#elseif ( $asset.title )
      		#set( $value = $hit.assettitle )
      	#else
      		#set( $value = "(No name)" )
      	#end
      #else	
		#set( $value = $hit.get($detail.id))
	#end
	#if( !$value && $detail.render )	
			#set($value = $searcherManager.getValue($catalogid,$detail.render, $hit.properties) ) 
	#end	
	
	$!context.putPageValue("detail",$detail)
	$!context.putPageValue("val",$value)	
	$!context.putPageValue("data",$hit)
	<td  class="resultstablecell $detail.id">
		$pages.include("$apphome/components/xml/detailreadonly.html", $context)
	</td>	
#end	
 </tr>   